*{
  box-sizing: border-box;
}
:root{
  --dark-bg-color:#0c0c0c;
  --element-dark-bg-color:#202B2F;
  --element-light-bg-color:#3D5C7A;
  --nav-element-dark-bg-color:#2A363D;
  --text-light-color:#fff;
}

body{
  background-color: #000;
  background-image: url(/background.jpg);
  margin: 0;
  font-family: sans-serif;
  color: var(--text-light-color); 
}
.container{
  /* background-color: var(--dark-bg-color); */
  max-width: 1000px;
  margin-inline: auto;
  padding-top: 1rem;
}
.links{
  background-color: var(--nav-element-dark-bg-color);
  max-width: 250px;
  min-height: 2.5rem;
  margin-inline:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
a{
  text-decoration: none;
  color: inherit;
  padding: 4px;
  font-size: 1em;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  row-gap: 20px;
      column-gap: 10px;
}
.intro{
  background-color: var(--element-dark-bg-color);
  padding: 8px 1rem ;
  color: white;
  border-radius: 8px;
}
.intro p{
  opacity: 0.6;
}

.quote-img{
  width: 100%;
  max-width: 300px;
  min-height: 350px;
  object-fit: cover;
  margin-inline: auto;
  border-radius: 8px;
  border: 1px solid rgb(228, 228, 202);
}
.quote-text{
  background-color: var(--element-light-bg-color);
  padding: 1rem;
  font-size: 1em;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.role{
  background-color:var(--element-light-bg-color);
  text-transform: capitalize;
  font-size: 1em;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}
.profile-container{
  background-color: var(--element-dark-bg-color);
  color: var(--element-light-bg-color);
  min-height: 250px;
  border-radius: 8px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.profile-container img{
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-bottom: -6px;
  
}

.technologies{
  background-color: var(--element-dark-bg-color);
  min-height: 400px;
  border-radius: 8px;
  padding:  1rem ;
  min-height: 350px;
}
.technologies .icons{
  background-color: var(--element-dark-bg-color);
  display: grid;
  margin-top: 32px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:repeat(4,25%);
  gap: 1.5rem 1rem;
}
.icons i{
  margin-inline: auto;
}
.education{
  background-color: var(--element-dark-bg-color);
  padding: 1rem;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.education .degree{
  font-size: 1.2em;
  margin-right: 0.7rem;
}
.education .grade{
  font-size: 0.9em;
  opacity: 0.7;
  margin-right: 0.5rem;
}
.education .year{
  font-size: 0.8em;
}
.education p{
  opacity: 0.7;
  font-size: 0.9em;
  margin-block: 12px;
}

@media (min-width:600px) {
  .grid{
      margin-top: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 200px 120px 130px 300px;
      /* grid-template-rows:  0.2fr 0.1fr 0.3fr 0.5fr ; */
     
  }
  .intro{
      grid-column-start: span 2;
  }
  .intro p{
      font-size: 14px;
      line-height: 0.9;
  }
  .quote-img{
      grid-row-start: span 2;

  }
  .quote-text{
      grid-column-start: 3;
  }
  .role{
      padding: 8px;
      grid-column-start: 1;
      grid-row: 2/3;
  }
  .profile-container{
      
      grid-column-start:2 ;
      grid-row: 2/4;
      font-size: 0.8em;
  }
  .technologies{
      grid-row: 3/5;
      grid-column-start: 1;
      font-size: 0.8em;
  }
  .education{
     grid-column: 2/4;
     margin-bottom: 0;
  }
}
@media (min-width:800px)
{
  .intro p{
      line-height: 1.1;
      font-size: unset;
  }
  .quote-img{
      height: 350px;
  }
  .profile-container{
      font-size: 1.1em;
  }
  .technologies h2{
      font-size: 1.4rem;
  }
}
.scale:hover{
  transform: scale(1.015);
}
.scale{
  transition: all 0.6s  ease-in-out;
}



/* contact */

